body {
	margin-top: 100px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
	margin: 50px 0;
}

.spDateTags {
}
.spDate {
    font-size: 1em;
}
.spTag {
    margin-left: 5px;
}
#post-tags {
    display: inline-block;
}

.summary {
    font-size: 1.2em;
}

/* Bootstrap overrides */
header.panel-heading a {
    color: #428bca;
    text-decoration: none;
}
.panel-title {
      font-size: 1.65em;
}
.breadcrumb {
    margin-bottom: 0px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}